/* budgetResult.scss */
.result-page main {
  position: relative;
  padding: 0;
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255,255,255,0.3);
  border-top: 5px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


.refresh-btn-wrapper {
  position: absolute;      // fixed -> absolute
  bottom: -50px;            // pagination 점 아래로 충분히 띄움 이거 버튼 조절하는거임
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;            // 카드보다 위에 오도록
}

.refresh-btn {
  padding: 10px 20px;
  background: #ff6b6b;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);

}

.fullscreen-card {
  width: 40%;        /* 기존 100% -> 90%로 줄임 */
  height: 50vh;      /* 기존 80vh -> 70vh로 줄임 */
  margin: 0 auto;    /* 가운데 정렬 */
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-top: 120px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

// .fullscreen-card:hover {
//   transform: scale(1.03);
//   box-shadow: 0 15px 30px rgba(0,0,0,0.35);
// }

.overlay {
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.overlay h2 {
  font-size: 22px;
  margin: 0 0 5px 0;
}

.overlay p {
    margin-top: 20px;
  font-size: 1.1rem;
  
}
